<%- include ("../partials/after_login_header.ejs") %>

    <div class="container-fluid">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>
                        <%= user.name %>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>
                        <%= user.email %>
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">Total number of cards</th>
                    <td>
                        <%#= cardCount %>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <div>
        <form method="POST" action="/users/<%= user.id %>?_method=DELETE">
            <button class="btn btn-danger" type="submit">Delete Account</button>
        </form>
    </div>

    <div>
        <h3>My Cards</h3>

        <div class="grid">
            <%- include("cardGrid", { cards: cards, large :true }) %>
        </div>
    </div>