<%- include ("before_login_header.ejs") %>

    <div class="container-fluid">
        <h3>Sign Up</h3>
        <%- include("./partials/errorMessages") %>
            <form action="/users/signup" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="signup-name">Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="signup-name" name="name" placeholder="Enter Name" value="<%= typeof name != 'undefined' ? name : '' %>" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="signup-email">Email</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" id="signup-email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="signup-password">Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="signup-password" name="password" placeholder="Enter Password" value="<%= typeof password != 'undefined' ? password : '' %>" aria-describedby="password-help-block" />
                    </div>
                    <div id="password-help-block" class="form-text">
                        Your password must be 8-20 characters long.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password2">Confirm Password</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary mb-3">Sign Up</button>
            </form>
            <p>
                Already have an account?
                <a class="link-primary" href="/users/login">Login</a>
            </p>
    </div>