<!-- including after-login header -->
<%- include ("../partials/after_login_header.ejs") %>

    <!-- container for the main content-->
    <div class="container-fluid my-auto">
        <div>
            <!-- page heading -->
            <h2 class="page-header mb-1">All cards</h2>
            <p class="small text-muted">...by everyone on this web-app.</p>
        </div>

        <!-- form for search bar and button -->
        <form class="d-flex justify-content-between align-items-center" action="/cards" method="GET">
            <input type="search" class="form-control me-2" name="cardName" placeholder="Card name" aria-label="Search" value="<%= searchOptions.cardName %>" />
            <button class="btn mb-0 srch-btn" type="submit">Search</button>
        </form>
        <!-- container to show number of cards -->
        <div class="p-2 d-flex">
            <p class="small text-muted me-2">Total cards:
                <%= cards.length %>
            </p>
            <p class="small text-muted">Your cards:
                <%= userCards.length %>
            </p>
        </div>
    </div>

    <!-- including card grid from partials folder-->
    <%- include("../partials/cardGrid", { cards: cards }) %>