<%- include ("../partials/after_login_header.ejs") %>

    <div class="container-fluid card-container" style="max-width: 18rem">
        <div class="card border-light">
            <img width="250" height="175" src="<%= card.cardImagePath %>" class="card-img-top" alt="Image" />
            <div class="card-body">
                <h5 class="card-title">
                    <%= card.cardName %>
                </h5>
                <table class="card-table table border-light">
                    <tbody>
                        <tr>
                            <td>
                                <%= card.attributes[0] %>
                            </td>
                            <td>
                                <%= card.values[0] %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= card.attributes[1] %>
                            </td>
                            <td>
                                <%= card.values[1] %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= card.attributes[2] %>
                            </td>
                            <td>
                                <%= card.values[2] %>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="row">
                    <button class="btn btn-light col">
          <a class="card-link" href="/cards/<%= card.id %>/edit">Edit</a>
        </button>
                    <%- include('../partials/deleteForm', { url: `/cards/${card.id}` }) %>
                </div> -->
            </div>
            <div class="card-footer text-muted small">
                Added by:
                <%= card.addedBy.firstName %>
            </div>
        </div>
    </div>