<%- include ("../partials/after_login_header.ejs") %>

    <div class="container-fluid p-3 card-container" style="width: 17rem">
        <div class="card border-light">
            <img width="250" height="175" src="<%= card.cardImagePath %>" class="card-img-top" alt="Image" />
            <div class="card-body pb-0">
                <h5 class="card-title">
                    <%= card.cardName %>
                </h5>
                <table class="card-table table border-light">
                    <tbody>
                        <tr>
                            <td>
                                <%= card.attributes[0] %>
                            </td>
                            <td>
                                <%= card.values[0] %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= card.attributes[1] %>
                            </td>
                            <td>
                                <%= card.values[1] %>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= card.attributes[2] %>
                            </td>
                            <td>
                                <%= card.values[2] %>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- <div class="row justify-content-center">
                    <a class="card-link btn btn-outline-primary btn-light col" href="/cards/<%= card.id %>/edit">Edit</a
        >

        <%- include('../partials/deleteForm', { url: `/cards/${card.id}` }) %>
      </div> -->
            </div>
            <div class="card-footer text-muted small">
                Added by:
                <%= card.addedBy.firstName %>
            </div>
        </div>
        <div class="text-center mt-2 d-flex justify-content-evenly">
            <a class="btn text-decoration-none theme-btn" href="/users/dashboard">Dashboard</a
    >
    <a class="btn text-decoration-none theme-btn" href="/cards/">All cards</a>
        </div>
    </div>