<h2 class="page-header">
    <%= card.cardName %>
</h2>
<div class="card-details">
    <div>
        <img width="200" height="150" class="card-image" src="<%= card.cardImagePath %>" />
        <div class="card-details-btn-grid">
            <a class="btn btn-primary" href="/cards/<%= card.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm', { url: `/cards/${card.id}` }) %>
                <a class="btn btn-primary card-details-user-button" href="/users/<%= card.addedBy.id %>">View the creator</a
      >
    </div>
  </div>
  <div class="card-details-grid">
    <div class="card-details-label">Added by:</div>
    <div><%= card.addedBy.name %></div>
    <div class="card-details-label">Created on</div>
    <div><%= card.createdAt.toDateString() %></div>
  </div>
</div>